attrs
backcall
bleach
certifi
cffi
chardet
click
cryptography
decorator
defusedxml
entrypoints
Flask
gunicorn
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
mkl-fft
mkl-service
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyOpenSSL
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
qtconsole==4.7.4
QtPy==1.9.0
requests==2.23.0
scikit-learn
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
urllib3==1.26.5
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zipp==3.1.0
